<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Totes_BGA</title>
    
    <!-- Correct Rute With Thymeleaf -->
    <link rel="stylesheet" th:href="@{/MarcaFrame/marcaFrame.css}">
    <link rel="stylesheet" th:href="@{/general.css}">
    <link rel="stylesheet" th:href="@{/DesignMarcas/marcasdesign.css}">

    <script th:src="@{/redirections.js}"></script>
    <script th:src="@{/MarcaFrame/marca.js}"></script>
    <script th:src="@{/MarcaFrame/updateMarca.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


    <!-- Style Of Thee Page-->
    <style>a,button,input,select,h1,h2,h3,h4,h5,
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: none;
            text-decoration: none;
            background: none;
            -webkit-font-smoothing: antialiased;
        }
        menu, ol, ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
      </style>

</head>
<!-- Body class by maca in scripts-->
<body class="pag-marca">
    <div class="concesionario">

        <!-- Image Contenetor-->
        <div class="contenedor-imagen"></div>

        <!-- Bar Menu TOP-->
        <div class="barra-menu-top">
            <span class="menu-item">Inicio</span>
            <span class="menu-item">Matriz</span>
            <span class="menu-item inicial">Vehículos</span>
            <span class="menu-item">Accesorios</span>
            <span class="menu-item">Repuestos</span>
            <span class="menu-item">Taller</span>
            <span class="menu-item contacto">Contacto</span>
            
        </div>
        
        
        <!-- Botón tipo toggle -->
        <div class="switch" onclick="toggleSwitch()"></div>

        <!-- Title Of Example-->
        <div class="encuentra-tu-auto-box">
            <span>
              <span class="Encuentra-el-auto-ideal-para-ti-al">
                Encuentra el auto ideal para ti, al
              </span>
              <span class="precio-page">
                mejor precio
              </span>
            </span>
          </div>

        <!-- Circle Animation -->
         <div class="ellipse-animation"></div>

        <!-- Info Text -->
        <div class="Info-text-exploraselection">
          Explora nuestra selección de vehículos nuevos y usados, con especificaciones
          detalladas, fotos en alta calidad y opciones de financiamiento.
        </div>

        <!-- Image Principal Car-->
         <div class="principal-car-image"></div>

         <!-- Search Your Favorite Model-->
          <div class="favorite-model">
            Encuentra tu Marca Favorita
          </div>

          <!-- Data -->
           <div class="data-variedad">
            Variedad, calidad y confiabilidad en cada marca que ofrecemos
           </div>



           <!-- CARS MODELS-->

           <!-- Controller MarcaController With Java-->

           <div class="contenedor-marcas">
            <div th:each="marca : ${marcas}" class="marca-item">
                <a th:href="@{/modelos/{id}(id=${marca.id_marca})}" class="marca-link">
                    <img th:src="@{'http://localhost:8081' + ${marca.imagenUrl}}" alt="Imagen de la marca" class="marca-item-image">
                    <p th:text="${marca.nombre}" class="marca-nombre"></p>
                </a>
            </div>
        </div>

      
        

           <!-- ===================================== -->

           <!-- Dont Delete-->

           <!-- Estyle of the page in the down part-->

           <!-- bottom box of the page-->
           <footer>
            <div class="footer-content">
              <div class="footer-column">
                <h3>TOTES BGA</h3>
                <p>Calle 27 # Carrera 19 – 50 </p>
                <p>Bucaramanga, Santander</p>
              </div>
  
              <div class="footer-column">
                <h3>CONSORCIO</h3>
                <p><a href="assets/documents/POLITICA-DE-DATOS.pdf" target="_blank">Política de Tratamiento de Datos Personales</a></p>
              </div>
  
              <div class="footer-column">
                <h3>SÍGUENOS</h3>
                <a href="https://www.facebook.com/?locale=es_LA" target="_blank"><img src="assets/images/facebook_logo.png" alt="Facebook"></a>
                <a href="https://www.youtube.com/?app=desktop&hl=es" target="_blank"><img src="assets/images/youtube_logo.png" alt="Instagram"></a>
                <a href="https://co.linkedin.com/" target="_blank"><img src="assets/images/linkedin_logo.png" alt="Twitter"></a>
              </div>
            </div>
  
            <!-- Horizontal line inside the footer -->
            <div class="footer-divider"></div>
  
            <!-- Copyright Message -->
            <div class="footer-copyright">
                © 2025 TOTES BGA. Todos los derechos reservados.
            </div>
          </footer>

    </div>
</body>

</html>