<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Totes_BGA</title>
    
    <!-- Correct Rute With Thymeleaf -->
    <link rel="stylesheet" th:href="@{/MarcaFrame/marcaFrame.css}">
    <link rel="stylesheet" th:href="@{general.css}">
    <script th:src="@{redirections.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


    <!-- Style Of Thee Page-->
    <style>a,button,input,select,h1,h2,h3,h4,h5,
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: none;
            text-decoration: none;
            background: none;
            -webkit-font-smoothing: antialiased;
        }
        menu, ol, ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
      </style>

</head>
<!-- Body class by maca in scripts-->
<body class="pag-marca">
    <div class="concesionario">


        <!-- Image Contenetor-->
        <div class="contenedor-imagen"></div>

        <!-- Bar Menu TOP-->
        <div class="barra-menu-top">
            <span class="menu-item">Inicio</span>
            <span class="menu-item inicial">Vehículos</span>
            <span class="menu-item">Repuestos</span>
            <span class="menu-item">Taller</span>
            <span class="menu-item contacto">Contacto</span>
        </div>
        
        
        <!-- Botón tipo toggle -->
        <div class="switch" onclick="toggleSwitch()"></div>

        <!-- Title Of Example-->
        <div class="encuentra-tu-auto-box">
            <span>
              <span class="Encuentra-el-auto-ideal-para-ti-al">
                Encuentra el auto ideal para ti, al
              </span>
              <span class="precio-page">
                mejor precio
              </span>
            </span>
          </div>

        <!-- Circle Animation -->
         <div class="ellipse-animation"></div>

        <!-- Info Text -->
        <div class="Info-text-exploraselection">
          Explora nuestra selección de vehículos nuevos y usados, con especificaciones
          detalladas, fotos en alta calidad y opciones de financiamiento.
        </div>

        <!-- Image Principal Car-->
         <div class="principal-car-image"></div>

         <!-- Search Your Favorite Model-->
          <div class="favorite-model">
            Encuentra tu Marca Favorita
          </div>

          <!-- Data -->
           <div class="data-variedad">
            Variedad, calidad y confiabilidad en cada marca que ofrecemos
           </div>



           <!-- CARS MODELS-->

           <!-- Controller MarcaController With Java-->

           <div class="contenedor-marcas">
             <div th:each="marca : ${marcas}" class="marca-item">
                 <p th:text="${marca.nombre}"></p>
                 <img th:src="@{${marca.imagenUrl}}" alt="Imagen de la marca">
             </div>
           </div>



           <!-- Dont Delete-->


           <!-- Estyle of the page in the down part-->

           <!-- bottom box of the page-->
            <div class="recuadro-inferior">
              <div class="grupo-info">
                <span class="info-item financiacion">TotesBGA Financiación</span>
                <span class="info-item cookie">Cookie Settings</span>
                <span class="info-item acercade">Acerca de</span>
                <span class="info-item privacidad">Privacidad</span>
                <span class="info-item nuestrosistema">Nuestro Sistema</span>
              </div>
              <div class="grupo-info">
                <span class="info-item politicadeprotecciondedatos">Política de Protección De Datos Personales</span>
                <span class="info-item texto-normal">© 2025. TotesBGA Colombia. Todos los derechos reservados</span>
                <img src="../MarcaFrame/Images/logo-totes0.png" alt="logo" class="Logo-Imagen-Inferior">
                
                <!-- Contenetor Logo-->
            </div>
            </div>

    </div>
</body>

</html>
